doctype html
html(lang="en")
  head
    title BlackBoxJa
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="Blackbox shop")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="styles/bootstrap4/bootstrap.min.css")
    link(href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", type="text/css", href="plugins/OwlCarousel2-2.2.1/owl.carousel.css")
    link(rel="stylesheet", type="text/css", href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css")
    link(rel="stylesheet", type="text/css", href="plugins/OwlCarousel2-2.2.1/animate.css")
    link(rel="stylesheet", type="text/css", href="plugins/slick-1.8.0/slick.css")
    link(rel="stylesheet", type="text/css", href="styles/main_styles.css")
    link(rel="stylesheet", type="text/css", href="styles/responsive.css")
  body
    block content
  footer.footer
    .container
      .row
        .col-lg-3.footer_col
          .footer_column.footer_contact
            .logo_container
              .logo
                a(href="#") BlackBox
            |
            .footer_title Got Question? Call Us 24/7
            |
            .footer_phone +38 068 005 3570
            |
            .footer_contact_text
              p 17 Princess Road, London
              |
              p Grester London NW18JR, UK
            |
            .footer_social
              ul
                li
                  a(href="#")
                    i.fab.fa-facebook-f
                |
                li
                  a(href="#")
                    i.fab.fa-twitter
                |
                li
                  a(href="#")
                    i.fab.fa-youtube
                |
                li
                  a(href="#")
                    i.fab.fa-google
                |
                li
                  a(href="#")
                    i.fab.fa-vimeo-v
        |
        .col-lg-2.offset-lg-2
          .footer_column
            .footer_title Find it Fast
            |
            ul.footer_list
              li
                a(href="#") Computers & Laptops
              |
              li
                a(href="#") Cameras & Photos
              |
              li
                a(href="#") Hardware
              |
              li
                a(href="#") Smartphones & Tablets
              |
              li
                a(href="#") TV & Audio
            |
            .footer_subtitle Gadgets
            |
            ul.footer_list
              li
                a(href="#") Car Electronics
        |
        .col-lg-2
          .footer_column
            ul.footer_list.footer_list_2
              li
                a(href="#") Video Games & Consoles
              |
              li
                a(href="#") Accessories
              |
              li
                a(href="#") Cameras & Photos
              |
              li
                a(href="#") Hardware
              |
              li
                a(href="#") Computers & Laptops
        |
        .col-lg-2
          .footer_column
            .footer_title Customer Care
            |
            ul.footer_list
              li
                a(href="#") My Account
              |
              li
                a(href="#") Order Tracking
              |
              li
                a(href="#") Wish List
              |
              li
                a(href="#") Customer Services
              |
              li
                a(href="#") Returns / Exchange
              |
              li
                a(href="#") FAQs
              |
              li
                a(href="#") Product Support
  // Copyright
  .copyright
    .container
      .row
        .col
          .copyright_container.d-flex.flex-sm-row.flex-column.align-items-center.justify-content-start
            .copyright_content
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright ©
              script.
                  document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with
              i.fa.fa-heart(aria-hidden="true")
              |  by
              a(href="https://colorlib.com", target="_blank") Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            |
            .logos.ml-sm-auto
              ul.logos_list
                li
                  a(href="#")
                    img(src="images/logos_1.png", alt="")
                |
                li
                  a(href="#")
                    img(src="images/logos_2.png", alt="")
                |
                li
                  a(href="#")
                    img(src="images/logos_3.png", alt="")
                |
                li
                  a(href="#")
                    img(src="images/logos_4.png", alt="")
  script(src="js/jquery-3.3.1.min.js")
  script(src="styles/bootstrap4/popper.js")
  script(src="styles/bootstrap4/bootstrap.min.js")
  script(src="plugins/greensock/TweenMax.min.js")
  script(src="plugins/greensock/TimelineMax.min.js")
  script(src="plugins/scrollmagic/ScrollMagic.min.js")
  script(src="plugins/greensock/animation.gsap.min.js")
  script(src="plugins/greensock/ScrollToPlugin.min.js")
  script(src="plugins/OwlCarousel2-2.2.1/owl.carousel.js")
  script(src="plugins/slick-1.8.0/slick.js")
  script(src="plugins/easing/easing.js")
  script(src="js/custom.js")
